.root {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: var(--background);
    border-radius: var(--radius-main);
    padding: 12px;
}

.row {
    display: grid;
    grid-template-columns: 30px 1fr 1fr 100px auto;
    gap: 12px;
    flex-direction: row;
    color: var(--text-color-accent);
    align-items: center;
}

.userName {
    font-weight: 700;
    font-size: 14px;
}

.userEmail {
    font-weight: 500;
    font-size: 14px;
    color: var(--primary);
}

.sectionBody {
    border: none;
}
