@import "./reboot.css";

:root {
    --light: #F6F6F6;
    --dark: #1a1a1a;

    --primary: #0099ff;
    --primary--rgb: 0, 153, 255;
    --primary-active: #4E7BC0;
    --primary-bg: #F0F5FF;
    --primary-disabled: #a4d8fa;

    --text-color: #F6F6F6;
    --text-color-accent: #223654;
    --text-color-accent-secondary: #666;

    --component: #8855ff;
    --component-active: #4E7BC0;
    --component-bg: #E8DEFF;
    --component-disabled: #d5c7f3;

    --secondary: #8798A8;
    --secondary--rgb: 135, 152, 168;
    --secondary-active: #657280;
    --secondary-bg: #F3F5F7;
    --secondary-bg-rgb: 243, 245, 247;
    --secondary-disabled: #DAE0E4;

    --secondary-light: #F6F6F6;
    --secondary-light-active: #DDDDDD;
    --secondary-light-bg: #FEFEFE;
    --secondary-light-disabled: #FDFDFD;

    --background: #FEFEFE;
    --background--rgb: 254, 254, 254;
    --background-secondary: #F3F3F3;
    --background-secondary--rgb: 243, 243, 243;

    --border: #DAE0E4;
    --border--rgb: 218, 224, 228;
    --border-hover: #b7bcc0;
    --border-secondary: #FEFEFE;
    --border-accent: #DAE0E4;

    --link: #0070f3;
    --link-hover: #0363d3;
    --link-active: #004dab;

    --app-size-header: 50px;
    --app-size-navigation: 42px;
    --builder-size-left-bar: 270px;
    --builder-size-right-bar: 260px;

    --z-index-navigation: 9;
    --z-index-snackbar: 5;
    --z-index-header: 10;
    --z-index-modal: 20;
    --z-index-page-spinner: 30;
    --z-index-builder-popout: 9;
    --z-index-builder-cursor-pointer: 4;
    --z-index-builder-tools: 5;
    --z-index-builder-rich-text: 5;
    --z-index-builder-sidebar: 6;

    --gutter-default: 15px;

    --animation-transition-default: .3s;

    --radius-main: 20px;
    --radius-second: 8px;
    --radius-small: 5px;

    --shadow-basic: 0 1px 2px 0 rgba(9, 10, 11, 0.08);
    --shadow-big: 0px 30px 40px 0px rgba(9, 10, 11, 0.1);
    --shadow-secondary: 0 0 1px 0 rgba(9, 10, 11, 0.08), 0 3px 4px 0 rgba(9, 10, 11, 0.1);
    --shadow-hover: 0 0 2px -1px rgba(9, 10, 11, 0.2), 0 30px 40px 0 rgba(9, 10, 11, 0.1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #0099ff;
        --primary--rgb: 0, 153, 255;
        --primary-active: #4E7BC0;
        --primary-bg: #252528;
        --primary-disabled: #a4d8fa;

        --text-color: #223654;
        --text-color-accent: #fff;
        --text-color-accent-secondary: #666;

        --component: #8855ff;
        --component-active: #4E7BC0;
        --component-bg: rgb(232, 222, 255);
        --component-disabled: #a4d8fa;

        --secondary: rgb(135, 152, 168);
        --secondary-active: #657280;
        --secondary-bg: #232222;
        --secondary-bg-rgb: 35, 34, 34;
        --secondary-disabled: #DAE0E4;

        --secondary-light: #F6F6F6;
        --secondary-light-active: #DDDDDD;
        --secondary-light-bg: #FEFEFE;
        --secondary-light-disabled: #FDFDFD;

        --background: #111111;
        --background--rgb: 17, 17, 17;
        --background-secondary: #1c1c1c;
        --background-secondary--rgb: 28, 28, 28;

        --border: #252525;
        --border--rgb: 37, 37, 37;
        --border-secondary: #FEFEFE;
        --border-accent: #DAE0E4;
    }
}


@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
