.root {
    position: relative;
}

.titleWrapper {
    position: absolute;
    bottom: calc(100% + 15px);
    left: 0;
    right: 0;
    display: flex;
    gap: 5px;
    font-size: 11px;
    color: var(--component);
    font-weight: 600;
}
