.root {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--gutter-default);
    padding-top: var(--gutter-default);
}

.header {
    display: flex;
    gap: var(--gutter-default);
    align-items: center;
}

.headerAside {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: var(--gutter-default);
}

.logo {
    width: 64px;
    height: 64px;
    border-radius: var(--radius-second);
    background: var(--background-light);
    border: 1px solid var(--border);
}

.info {
    flex: 1;
}



.meta {
    display: flex;
    align-items: center;
    gap: var(--gutter-medium);
    color: var(--secondary)
}
