.root {
    background: var(--background);
    z-index: var(--z-index-header);
    position: relative;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--app-size-header);
}
