.root {
    background: var(--background);
    border-bottom: 1px solid var(--border);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--app-size-header);
}
