.root {
    padding: 5px;
    border-bottom: 1px solid var(--background-secondary);
    color: var(--text-color-accent);
    font-size: 12px;
    font-weight: 500;

    &:last-child {
        border-bottom: none;
    }

    &:empty {
        display: none;
    }
}
