.root {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--app-size-header) - var(--app-size-navigation) - 1px);
}

.body {
    flex: 1;
    display: flex;
    padding: var(--gutter-medium);
}

.aside {
    flex-basis: 300px;
    min-width: 300px;
    position: sticky;
}

.content {
    flex-basis: calc(100% - 300px);
    display: flex;
}
