.root {
    position: absolute;
    inset: 0;
    z-index: var(--z-index-builder-rich-text);
    width: 0;
    height: 0;
}

.contentEditable {
    width: 100%;
    height: 100%;
    outline: none;

    & p {
        margin: 0;
    }
}
