.root {
    flex: 1;
    background: var(--background);
    border-radius: var(--radius-main);
    padding: var(--gutter-default);
    gap: 36px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}
