.root {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 15px;
    background: var(--background);
    border-radius: var(--radius-main);
}

.preview {
    background: var(--secondary-bg);
    border-radius: var(--radius-main);
    flex: 1;
    display: flex;
    flex-direction: column;
}
