.root {
    width: var(--builder-size-left-bar);
}

.tabsWrapper {
    padding: 15px;
    display: flex;
    gap: 10px;
}

.tabsSelector {
    width: 100%;

}

.delimiter {
    width: calc(100% - 30px);
    height: 1px;
    background: rgba(var(--border--rgb), .6);
    margin: 0 15px;
}

