.root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gutter-default);
}

.title {
    font-size: 26px;
    font-weight: 500;
}

.description {
    font-size: 14px;
    color: var(--secondary);
}

.actions {
    display: flex;
    gap: var(--gutter-default);
}
