.root {
    height: 34px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.before {
    min-width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary);
}

.text {
    display: flex;
    gap: 8px;
    align-items: center;
    flex: 1;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.description {
    color: var(--secondary);
}

