.root {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-default);
    container-type: inline-size;
}

.header {
    display: flex;
    gap: var(--gutter-medium);
    align-items: center;
    justify-content: flex-end;
}

.search {
    flex-basis: 30%;
}
