.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gutter-default);
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-default);
    width: 350px;
}

.logo {
    width: 64px;
    height: 64px;
}
