@layer ui {
    .root {
        padding: 5px 10px;
        background: rgba(var(--background-secondary--rgb), 1);
        border-radius: var(--radius-main);
        color: var(--text-color-accent);
        font-size: 12px;
        font-weight: 500;
        display: inline-flex;
        align-items: center;
        gap: 5px;
    }

    .prefix {
        font-size: 12px;
        color: var(--secondary);
        font-weight: 400;
        align-self: flex-start;
        white-space: nowrap;
    }

    .remove {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 2px;
        color: var(--secondary);
    }

    .success {
        background: var(--success-bg);
        color: var(--success);

        .prefix {
            color: var(--success);
        }
    }

    .danger {
        background: var(--danger-bg);
        color: var(--danger);

        .prefix {
            color: var(--danger);
        }
    }

    .gray {
        background: var(--secondary-bg);
        color: var(--secondary);

        .prefix {
            color: var(--secondary);
        }
    }

    .s {
        padding: 2px 5px;
        font-size: 9px;
        gap: 2px;
    }
}
