.root {
    padding-inline: var(--gutter-default);

    &.hug {
        max-width: 1360px;
        width: 100%;
        margin: auto;
    }

    &.withVertical {
        padding-block: var(--gutter-default);
    }
}
