.root {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--app-size-header) - var(--app-size-navigation) - 1px);
    background: var(--background-light);
}

.body {
    flex: 1;
    display: flex;
    padding: var(--gutter-medium);
}

.aside {
    flex-basis: 300px;
}

.content {
    flex-basis: calc(100% - 300px);
    display: flex;
    background: var(--background);
    border-radius: var(--radius-main);
}
