.root {
    width: 300px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.options {
    display: flex;
    flex-direction: column;
}

.option {
    color: var(--text-color-accent);

    &:disabled {
        color: var(--text-color-accent-secondary);
    }
}
