.root {
    color: var(--text-color-accent);
    display: flex;
    gap: var(--gutter-medium);
    align-items: center;

    &:hover {
        .actions {
            opacity: 1;
        }
    }
}

.emptyDirectory {
    --primary: var(--secondary);
    --primary--rgb: var(--secondary--rgb);
    --fill: var(var(--secondary--rgb));
}

.actions {
    opacity: 0;
    transition: var(--animation-transition-default);
    color: var(--text-color-accent);
    width: 30px;
    display: flex;
    align-self: center;
    justify-content: center;
}

.rootFolder {
    opacity: 1;
}

.fragment {
    --primary: var(--component);
}

.creatingItem {
    padding-left: 20px;
}
