@font-face {
    font-family: custom-font;
    src: url(fonts/CustomFont-Book.54303b32.woff2) format("woff2"), url(https://frontend-assets.supabase.com/www/d52e2c252b0c/_next/static/media/CustomFont-Book.d2378969.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: custom-font;
    src: url(fonts/CustomFont-Medium.0cc7d245.woff2) format("woff2"), url(https://frontend-assets.supabase.com/www/d52e2c252b0c/_next/static/media/CustomFont-Medium.184a256f.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}
