.page {
    background: var(--secondary-light);
    min-height: 100vh;
    container: body / inline-size;
}

.body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--gutter-default);
}

@container body (inline-size > 1024px) {
    .body {
        grid-template-columns: repeat(4, 1fr);
    }
}

@container body (768px <= inline-size <= 1024px) {
    .body {
        grid-template-columns: repeat(2, 1fr);
    }
}
