.root {
    position: relative;
    flex: 1;
    display: flex;
    background:
            radial-gradient(circle at 5px 5px, var(--border-light) 1px, transparent 1px),
            transparent;
    background-size: 10px 10px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: revert;
}

.actions {
    display: flex;
    padding: 12px;
}

.popout {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: var(--z-index-builder-popout);
}
