@layer {

    .root {
        padding: 4px;
        background: var(--background);
        border-radius: var(--radius-main);
    }

    .body {
        background: var(--secondary-bg);
        border-radius: var(--radius-main);
        border: 1px solid var(--border);
    }

    .loader {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
    }

}
