.root {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-default);
    padding-block: 10px;
}

.header {
    display: flex;
    align-items: center;
    gap: var(--gutter-medium);
}

.logo {
    width: 24px;
    height: 24px;
}

.name {
    font-size: 14px;
    font-weight: 700;
    color: var(--text-color-accent);
}

.status {
    margin-left: auto;
    padding: 3px 10px;
    border-radius: var(--radius-small);
    background: var(--primary-bg);
    font-size: 12px;
    color: var(--primary);
}

.stats {
    display: flex;
    gap: var(--gutter-default);
    color: var(--text-color-accent);
}

.statsTitle {
    font-size: 12px;
    color: var(--text-color-accent-secondary)
}
