.root {}

.highlight {
  border: 1px solid var(--primary);
  pointer-events: none;
  z-index: var(--z-index-builder-tools);
}


.breakpointWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(calc(-100% - var(--gutter-medium)));
  pointer-events: auto;
}

.layerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(calc(-100% - 5px));
  pointer-events: auto;
}
