.root {
  position: absolute;
  z-index: var(--z-index-builder-tools);
  width: 0;
  height: 0;
}

.highlight {
  pointer-events: none;
  position: fixed;
  z-index: var(--z-index-builder-tools);
}

.mask {
  &:after {
    content: '';
    position: absolute;
    inset: 0;
    border: var(--borderWidth, 1px) var(--borderStyle, solid) var(--primary);
  }
}

.selectedHighlight {
  &:after {
    border-style: solid;
  }
}

.parentHighlight {
  &:after {
    border-style: var(--style, dashed);
  }
}


.breakpoints {
  position: absolute;
  z-index: var(--z-index-builder-tools);
}

.breakpointItem {
  position: absolute;
  left: 0;
  top: 0;
}
