.highlight {
  pointer-events: none;
  position: fixed;
  z-index: var(--z-index-builder-tools);
}

.mask {
  &:after {
    content: '';
    position: absolute;
    inset: 0;
    border: var(--borderWidth, 1px) var(--borderStyle, solid) var(--primary);
  }
}

.selectedHighlight {
  border: var(--borderWidth, 1px) solid var(--primary);
}

.parentHighlight {
  border: var(--borderWidth, 1px) dashed var(--primary);
}
