
.root {
    position: relative;
}

.caret {
    position: absolute;
    right: 7px;
    top:8px;
    pointer-events: none;
    color: var(--secondary);
}

.inner {
    height: 30px;
    border-radius: var(--radius-second);
    font-size: 12px;
    font-weight: 500;
    padding: 0 20px 1px 7px;
    color: var(--text-color-accent);
    background: var(--background-secondary);
    border: none;
    width: 100%;
    outline: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}

