@layer ui {
    .root {
        background-color: var(--background);
        border-radius: var(--radius-second);
        box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.1);

        .tippy-arrow {
            color: var(--background) !important;
        }

        .tippy-content {
            padding: 0 !important;
        }
    }

    .content {
        max-height: 400px;
        overflow: auto;
    }

    .header {
        position: sticky;
        top: 0;
        padding: 12px;
        background: linear-gradient(to bottom, var(--background) 0%, var(--background) 80%, rgba(var(--background--rgb), 0) 100%);
        border-radius: var(--radius-second);
    }

    .options {

    }

    .loadingContainer {
        min-width: 120px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
