.root {
    height: var(--app-size-navigation);
    position: sticky;
    top: 0;
    background: var(--background);
    border-bottom: 1px solid var(--border);
}

.body {
    display: flex;
    gap: var(--gutter-default);
}
