.root {
    border-radius: var(--radius-second);
    padding: 0 10px;

    &:hover {
        .actions {
            opacity: 1;
        }
    }
}

.color {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    box-shadow: var(--shadow-basic);
}

.actions {
    transition: var(--animation-transition-default);
    opacity: 0;
}
