.tabs {
    height: var(--app-size-navigation);
    background: var(--background);
    border-bottom-right-radius: var(--radius-second);
    border-bottom-left-radius: var(--radius-second);
    position: sticky;
    top: 0;
    z-index: var(--z-index-navigation);
    box-shadow: var(--shadow-basic);
    padding-inline: 12px;
}

.tab {
    padding: 7px 15px !important;
}
