.root {
    position: absolute;
    inset: 0;
    z-index: var(--z-index-builder-tools);
    pointer-events: none;
}

.corner {
    width: 8px;
    height: 8px;
    background: var(--background-secondary);
    border-radius: var(--radius-main);
    border: 1px solid var(--primary);
    pointer-events: auto;
    position: absolute;
}

.cornerRight {
    cursor: nesw-resize;
}

.cornerLeft {
    cursor: nwse-resize;
}

.sideVertical {
    height: 8px;
    pointer-events: auto;
    cursor: ns-resize;
    position: absolute;
}

.sideHorizontal {
    width: 8px;
    pointer-events: auto;
    cursor: ew-resize;
    position: absolute;
}
