.root {
    padding: 0 15px 15px 15px;
}

.panelBody {
    padding-left: 10px;
}

.panelAction {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colorAction {
    transition: var(--animation-transition-default);
    opacity: 0;
}

.colorWrapper {
    &:hover {
        .colorAction {
            opacity: 1;
        }
    }
}

.cellIcon {
}

.componentCell {
    .cellIcon {
        color: var(--component);
    }
}
