.root {
    display: flex;
    align-items: center;
    gap: var(--gutter-default);
}

.name {
    padding-inline: 4px;
}

.headerInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.infoRow {
    display: flex;
    gap: 8px;
    align-items: center;
}

.delimiter {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--border);
}

.title {
    display: flex;
    gap: var(--gutter-medium);
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color-accent);
}

.infoCell {
    color: var(--secondary);
    display: flex;
    align-items: center;
    gap: 2px;
}

.weightControl {
    color: var(--link);
    cursor: pointer;
}

.id {
    font-size: 12px;
    font-weight: 400;
    color: var(--secondary);
}

.actions {
    display: flex;
    gap: var(--gutter-default);
    margin-left: auto;
}
