.root {
    position: relative;
    background: var(--background);
    border-bottom: 1px solid var(--border);
    z-index: var(--z-index-builder-tabs);
    width: calc(100vw - var(--builder-size-left-bar) - var(--builder-size-right-bar));
}

.inner {
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: auto;
    min-height: var(--app-size-tabs-height);
}

.preview {
    width: calc(100vw - var(--builder-size-left-bar));
}

.beforeSlot {
    position: relative;
    display: flex;
}

.previewIcon {
    color: var(--primary);
    fill: rgba(var(--primary--rgb), .3);
}

.fragmentIcon {
    color: var(--component);
}

.spinner {
    position: absolute;
    inset: 0;
}

.tab {
    display: flex;
    align-items: center;
    padding: 7px 10px;
    border-radius: var(--radius-second);
    gap: 7px;
    color: var(--secondary);
    transition: var(--animation-transition-default);
    white-space: nowrap;

    &:hover {
        background: rgba(var(--background-secondary--rgb), .4);
    }

    &.active {
      background: var(--secondary-bg);
      color: var(--text-color-accent);

      .close {
          color: var(--text-color-accent);
      }
    }
}

.close {
    color: var(--secondary);
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-small);
    transition: var(--animation-transition-default);

    &:hover {
        background: var(--secondary-bg);
    }
}

.closeAll {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding-inline: 12px;
    background: linear-gradient(to right, rgba(var(--background--rgb), 0) 0, var(--background) 10%, var(--background) 100%);
}
