.root {
    padding-top: var(--gutter-default);
    padding-right: var(--gutter-default);
    display: flex;
    flex-direction: column;
    gap: var(--gutter-medium);
}


.cell {
    padding-inline: var(--gutter-default);
    border-radius: var(--radius-small);
    transition: var(--animation-transition-default);

    &:hover {
        background: var(--secondary-bg);
    }

    &.active {
        background: var(--secondary-bg);
    }
}

.header {
    display: flex;
    align-items: center;
    gap: var(--gutter-default);
}

.body {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
