.root {
    border-bottom: 1px solid rgba(var(--border--rgb), .6);

    &:last-child {
        &:not(.withBorderBottom) {
            border-bottom: none;
            padding-bottom: 0;
        }

        .body:not(.withPaddingBottom) {
            padding-bottom: 0;
        }
    }
}

.body {
    padding-bottom: 15px;

    &:empty {
        padding-bottom: 0;
    }
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    gap: var(--gutter-medium);
}

.title {
    font-size: 12px;
    font-weight: bold;
    color: var(--text-color-accent);
    display: flex;
    align-items: center;
    flex: 1;
}
