.root {
    padding-block: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    background: var(--background);
}

.row {
    display: flex;
    gap: 12px;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
