.root {
    display: flex;
    align-items: center;
    gap: var(--gutter-default);
}

.logo {
    color: var(--text-color-accent);
}

.delimiter {
    width: 2px;
    height: 20px;
    background: var(--border);
    transform: skew(160deg);

}
