.root {
    width: 280px;
    padding: 0 12px 12px 12px;
}

.footer {
    margin-top: 12px;
}

.feedbackDone {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--gutter-default);
    background: rgba(var(--background--rgb), .8);
    backdrop-filter: blur(5px);
    color: var(--primary);
    z-index: 2;
    transition: var(--animation-transition-default);
    opacity: 0;
    pointer-events: none;
}

.feedbackActive {
    opacity: 1;
    pointer-events: auto;
}

.textarea {
    min-height: 150px;
}
