.root {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}

.editableCell {
    padding: 4px;
}

.innerCell {
    display: flex;
    align-items: center;
    gap: var(--gutter-small);
}

.preview {
    width: 80px;
    height: 80px;
    background: var(--background-secondary);
    border-radius: var(--radius-second);
}
