.root {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header {
    display: flex;
    gap: 12px;
}

.title {
    font-size: 22px;
    color: var(--text-color-accent);
    font-weight: bold;
    margin: 0;
    flex: 1;
}

.editableCell {
    padding: 4px;
}

.nameCell {
    color: var(--primary);
}

.innerCell {
    display: flex;
    align-items: center;
    gap: var(--gutter-small);
}

.preview {
    width: 80px;
    height: 80px;
    background: var(--background-secondary);
    border-radius: var(--radius-second);
}

.rotationSpan {
    color: var(--secondary);
}

.rollout {
    min-width: 40px;
    position: relative;

    &.rolloutLoading {
        &:after {
            content: '';
            display: block;
            position: absolute;
            inset: 0;
            background: rgba(var(--background-secondary--rgb), .4);
            border-radius: var(--radius-small);
            backdrop-filter: blur(5px);
        }
    }
}
