.root {
    display: flex;
    gap: 100px;
}

.createVariant {
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    background: var(--background-secondary);
    border: 2px solid var(--border);
    font-size: 12px;
    font-weight: bold;
    border-radius: var(--radius-main);
    color: var(--secondary);
    white-space: nowrap;
}
