.root {
    background: var(--background);
    border-radius: var(--radius-main);
    display: flex;
    gap: 18px;
    padding: 16px 24px;
    position: relative;

    &:hover {
        .actions {
            opacity: 1;
        }
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 30%;
    max-width: 30%;
    min-width: 30%;
}

.infoBody {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    position: relative;
}

.infoBodyInner {
}

.goalCode {
    font-size: 12px;
    color: var(--secondary);
    display: flex;
    align-items: center;
}

.title {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color-accent);
    display: flex;
    align-items: center;
}

.editable {
    padding-inline: var(--gutter-small);
}


.body {
    display: flex;
    flex-direction: column;
    gap: 4px;
    white-space: nowrap;
}

.row {
    display: flex;
    gap: 12px;
    color: var(--secondary);
    justify-content: space-between;
}

.rowName {
    min-width: 200px;

    &.accent {
        color: var(--danger);
    }
}

.rowButton {
    padding: 0;
}

.rowValue {
    color: var(--text-color-accent);
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 3px;
}

.actions {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: var(--animation-transition-default);
    opacity: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, var(--background) 15% ,var(--background) 100%);
    padding: 10px;
}
