@layer ui {
    .root {
        transition: transform var(--animation-transition-default);
        outline: none;
        cursor: pointer;
    }

    .withEffect {
        &:hover {
            transform: scale(1.03);
        }

        &:active {
            transform: scale(0.93);
        }
    }

    .asButton {
        outline: none;
        border: none;
        padding: 0;
        text-align: left;
        width: 100%;
        background: transparent;
    }
}


