.root {
    z-index: var(--z-index-builder-tools);
    pointer-events: none;
    overflow: visible !important;

    & p {
        margin: 0;
        padding: 0;
        white-space: pre-wrap;
        pointer-events: none;
    }
}

.mask {
    position: absolute;
    inset: 0;
    border: 1px solid var(--primary);

    &.dashed {
        border-style: dashed;
    }
}
