.root {
    z-index: var(--z-index-builder-tools);
    pointer-events: none;
    overflow: visible !important;

    & [data-highlight-type='Breakpoint'], & [data-highlight-type='Fragment'] {
        display: contents !important;
    }

    & p {
        margin: 0;
        padding: 0;
        pointer-events: none;
    }
}

.mask {
    position: absolute;
    inset: 0;

    &:after {
        content: '';
        position: absolute;
        inset: 0;
        border: var(--borderWidth, 1px) solid var(--primary);
    }
}

.dashed {
    &:after {
        border-style: dashed;
    }
}

.text {
    opacity: 0;
}
