.page {
    background: var(--background-light);
    min-height: 100vh;
}

.root {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: var(--background-light);
    /*1px - border*/
    height: calc(100vh - var(--app-size-header) - var(--app-size-navigation) - 1px);
    overflow: hidden;
    position: relative;
    border-top: 1px solid var(--border);
}

.container {
    display: flex;
    flex: 1;
}

.aside {
    width: var(--builder-size-left-bar);
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
