.root {
    position: relative;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--background-light);

    &.success {
        background: var(--success);
    }
    &.error {
        background: var(--danger);
    }
    &.warning {
        background: var(--warning);
    }
    /*&.info {*/
    /*    background: var(--info);*/
    /*}*/

    &:after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        background: inherit;
        animation: pulse 1s ease-in infinite;
        opacity: .4;
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}
