.root {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-medium);
}

.cellButton {
    opacity: 0;
    transition: var(--animation-transition-default);
}

.newCell {
    background-color: transparent;
    margin-bottom: 2px;
}

.iconWrapper {
    color: var(--text-color);
}

.cell {

    &.active {
        background-color: var(--secondary-bg);

    }

    &:hover {
        .cellButton {
            opacity: 1;
        }
    }
}
