.root {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--app-size-header) - var(--app-size-navigation));
}

.body {
    flex: 1;
    display: flex;
}

.aside {
    flex-basis: 300px;
    background: var(--background-secondary);
}

.card {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 90%;
        left: 5%;
        bottom: 0;
        height: 1px;
        background: rgba(var(--border--rgb), .6);
    }

    &:last-child {
        &:after {
            display: none;
        }
    }
}
