.root {
    display: flex;
    gap: var(--gutter-default);
    position: relative;
    transition: var(--animation-transition-default);
    padding: 4px 8px;
    border-radius: var(--radius-small);

    &:hover {
        background: rgba(var(--border--rgb), .3);
    }
}

.active {
    background: rgba(var(--border--rgb), .5);

    &:hover {
        background: rgba(var(--border--rgb), .5);
    }
}

.header {
    display: flex;
    align-items: center;
    gap: var(--gutter-medium);
    flex: 1;
}

.logo {
    width: 24px;
    height: 24px;
}

.name {
    font-weight: 500;
    color: var(--text-color-accent);
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
}

.status {
    display: flex;
    width: 7px;
    height: 7px;
    border-radius: 50%;

    &.status_active {
        background: var(--success);
        color: var(--success);
    }

    &.status_stop {
        background: var(--danger);
    }
}

.stats {
    display: flex;
    gap: var(--gutter-default);
    color: var(--text-color-accent);
}

.statsTitle {
    font-size: 12px;
    color: var(--text-color-accent-secondary)
}
