.root {
    z-index: var(--z-index-builder-tools);
    pointer-events: none;
    overflow: visible !important;
    position: relative;
    background: transparent !important;

    & [data-highlight-type='Breakpoint'], & [data-highlight-type='Fragment'] {
        display: contents !important;
    }
}

.textLayer {
    & * {
        opacity: 0;
        margin: 0;
        padding: 0;
        pointer-events: none;
    }
}

.instance {
    .mask {
        &:after {
            border-color: var(--component);
        }
    }
}

.mask {
    position: absolute;
    inset: 0;
    opacity: 1;

    &:after {
        content: '';
        position: absolute;
        inset: 0;
        border: var(--borderWidth, 1px) var(--borderStyle, solid) var(--primary);
    }
}

.text {
    & > p {
        opacity: 0 !important;
    }
}
