.page {
    background: var(--background-light);
    min-height: 100vh;
}

.root {
    display: flex;
    flex: 1;
    background: var(--background-light);
    max-height: calc(100vh - var(--app-size-header) -  var(--app-size-tabs-height) - var(--app-size-navigation));
    min-height: calc(100vh - var(--app-size-header) -  var(--app-size-tabs-height) - var(--app-size-navigation));
    overflow: hidden;
    position: relative;
}

.previewContainer {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.center {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.overlays {
    position: absolute;
    inset: 0;
}

.popoutsOverlay {
    position: absolute;
    inset: 0;
}

.toast {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    bottom: 0;
    transition: var(--animation-transition-default);
    opacity: 0;
    z-index: var(--z-index-builder-tools);

    &.open {
        transform: translateX(-50%) translateY(-200%);
        opacity: 1;
    }
}
