.root {
    display: flex;
    gap: var(--gutter-default);
    align-items: center;
}

.nav {
    display: flex;
    gap: 5px;
}


.feedback {
    border-radius: var(--radius-submain);
    background: var(--background);
}
