.root {
    flex: 1;
    background: var(--background);
    border-radius: var(--radius-main);
    padding: var(--gutter-default);
    container: body / inline-size;
}

.body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.wide {
    grid-column: span 2;
}

.part {
    grid-column: span 2;
}

.short {
    grid-column: span 2;
}

.tabsSelector {
    background: var(--secondary-bg);
    border: 1px solid var(--border-light);
    border-radius: var(--radius-main);
}

.tabsSelectorCell {
    padding: 3px 7px;
    border-radius: var(--radius-main);
}

.countryAnalyticsLabel {
    display: flex;
    align-items: center;
    gap: 8px;
}

.graphContainer {
    padding: 22px 22px 12px 0;
}

.integration {
    background: var(--secondary-bg);
}

.valueInfoWidget {
    grid-column: span 2;
    background: var(--secondary-bg);
}

.currentFragment {
    grid-column: span 3;
    background: var(--secondary-bg);
}

.currentExperiment {
    grid-column: span 3;
    background: var(--secondary-bg);
}

@container (inline-size > 1024px) {
    .body {
        grid-template-columns: repeat(6, 1fr);
    }

    .wide {
        grid-column: span 6;
    }

    .part {
        grid-column: span 3;
    }

    .short {
        grid-column: span 2;
    }
}
