.canvas-rich-editor {
    pointer-events: auto;

    .tiptap {
        outline: none;
        position: absolute;
        inset: 0;

        :where(p) {
            margin: 0;
            font-size: 14px;
            color: #000;
            font-weight: 400;
        }

        .variable {
            font-weight: 500;
            color: var(--primary);
            text-decoration: underline;
            white-space: nowrap;
        }
    }
}
