.canvas-rich-editor {
    pointer-events: auto;
    position: absolute;
    inset: 0;

    .tiptap {
        outline: none;
        position: absolute;
        inset: 0;

        :where(p) {
            margin: 0;
        }
    }
}
