.root {
    position: absolute;
    inset: 0;
    overflow: hidden;
    background:
            radial-gradient(circle at 5px 5px, var(--border-light) 1px, transparent 1px),
            transparent;
    background-size: 10px 10px;
}

.cursorPointer {
    touch-action: none;
    position: absolute;
    z-index: var(--z-index-builder-cursor-pointer);
    inset: 0;
}

.pan {
    cursor: grab;
}

.panning {
    cursor: grabbing;
}

.viewport {
    position: absolute;
}
